@font-face {
    font-family: Beyonders;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/107503/Beyonders-6YoJM.woff') format('woff');
}

@font-face {
    font-family: 'Smooch Sans';
    font-style: normal;
    font-weight: 100;
    src: url('https://fonts.cdnfonts.com/s/107428/SmoochSans[wght].woff') format('woff');
}

@font-face {
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/rubikmonoone/v18/UqyJK8kPP3hjw6ANTdfRk9YSN98zTKUJcOj89zQ.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, hsl(298 97.4% 45.3%), hsl(252 91.1% 48.4%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-heading {
    margin-top: 1vw;
    font-family: Beyonders;
    font-size: 4vw;
    font-weight: 400;
    color: hsl(298 97.4% 45.3%);
    text-shadow: 0rem 0rem 2rem hsl(252 91.1% 48.4% / 0.67);
    @media (max-width: 720px) {
        font-size: 5vw;
    }
}

.header-text {
    font-family: 'Smooch Sans';
    font-weight: 100;
    color: hsl(0 0% 100% / 0.6);
    font-size: 1.2vw;
    letter-spacing: 0.6vw;
    margin-bottom: 1.5vw;
    @media (max-width: 720px) {
        font-size: 3.4vw;
    }
}

.slider {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    background-color: hsl(0 0% 17% / 0.9);
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 39.5vw;
    padding: 1.5vw;
    border-radius: 1vw;
    color: hsl(0 0% 100%);
    @media (max-width: 720px) {
        height: 63.5vw;
    }
}

.slider-content {
    display: flex;
    flex-direction: column;
}

.slider-content input {
    display: none;
}

.slider-images {
    background: linear-gradient(315deg, hsl(298 97.4% 45.3%), hsl(252 91.1% 48.4%));
    border-radius: 1vw;
    flex: 0 0 27vw;
    width: 77vw;
    padding: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slider-image {
    background-color: hsl(0 0% 17% / 0.9);
    flex: 0 0 0vw;
    height: 25vw;
    overflow: hidden;
    transition: all 2s linear 0s;
}

.slier-images-container {
    background-color: hsl(0 0% 17% / 0.9);
    width: 75vw;
    height: 25vw;
    border-radius: 1vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.slider-img {
    width: 75vw;
    height: 25vw;
    object-fit: cover;
    overflow: hidden;
}


#slider-radio0:checked ~ .slider-images > .slier-images-container > #slider-image0,
#slider-radio1:checked ~ .slider-images > .slier-images-container > #slider-image1,
#slider-radio2:checked ~ .slider-images > .slier-images-container > #slider-image2, 
#slider-radio3:checked ~ .slider-images > .slier-images-container > #slider-image3,
#slider-radio4:checked ~ .slider-images > .slier-images-container > #slider-image4,
#slider-radio5:checked ~ .slider-images > .slier-images-container > #slider-image5,
#slider-radio6:checked ~ .slider-images > .slier-images-container > #slider-image6,
#slider-radio7:checked ~ .slider-images > .slier-images-container > #slider-image7,
#slider-radio8:checked ~ .slider-images > .slier-images-container > #slider-image8  {
    flex: 0 0 75vw;
}

.slider-empty-space {
    flex: 0 0 2vw;
}

.slider-bottom {
    display: flex;
    justify-content: space-between;
    @media (max-width: 720px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}

.slider-bottom .slider-empty-space {
    display: none;
    flex: 0 0 77vw;
    @media (max-width: 720px) {
        display: block;
        height: 2vw;
    }
}

.slider-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.slider-controls label{
    cursor: pointer;
}

.slider-radio-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 2.5vw;
}

.slider-radio-circle {
    flex: 0 0 1.3vw;
    height: 1.3vw;
    background: hsl(298 97.4% 45.3%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out 0s;
}

.slider-radio-hole {
    opacity: 0;
    flex: 0 0 0.8vw;
    height: 0.8vw;
    background-color: hsl(0 0% 17% / 0.9);
    border-radius: 100%;
    transition: all 0.5s ease-in-out 0s;
}

#slider-radio0:checked ~ .slider-bottom > .slider-controls > #slider-label0 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio1:checked ~ .slider-bottom > .slider-controls > #slider-label1 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio2:checked ~ .slider-bottom > .slider-controls > #slider-label2 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio3:checked ~ .slider-bottom > .slider-controls > #slider-label3 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio4:checked ~ .slider-bottom > .slider-controls > #slider-label4 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio5:checked ~ .slider-bottom > .slider-controls > #slider-label5 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio6:checked ~ .slider-bottom > .slider-controls > #slider-label6 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio7:checked ~ .slider-bottom > .slider-controls > #slider-label7 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole,
#slider-radio8:checked ~ .slider-bottom > .slider-controls > #slider-label8 > .slider-radio-background > .slider-radio-circle > .slider-radio-hole  {
    opacity: 1;
}

#slider-radio0:hover ~ .slider-bottom > .slider-controls > #slider-label0 > .slider-radio-background > .slider-radio-circle,
#slider-radio1:hover ~ .slider-bottom > .slider-controls > #slider-label1 > .slider-radio-background > .slider-radio-circle,
#slider-radio2:hover ~ .slider-bottom > .slider-controls > #slider-label2 > .slider-radio-background > .slider-radio-circle,
#slider-radio3:hover ~ .slider-bottom > .slider-controls > #slider-label3 > .slider-radio-background > .slider-radio-circle,
#slider-radio4:hover ~ .slider-bottom > .slider-controls > #slider-label4 > .slider-radio-background > .slider-radio-circle,
#slider-radio5:hover ~ .slider-bottom > .slider-controls > #slider-label5 > .slider-radio-background > .slider-radio-circle,
#slider-radio6:hover ~ .slider-bottom > .slider-controls > #slider-label6 > .slider-radio-background > .slider-radio-circle,
#slider-radio7:hover ~ .slider-bottom > .slider-controls > #slider-label7 > .slider-radio-background > .slider-radio-circle,
#slider-radio8:hover ~ .slider-bottom > .slider-controls > #slider-label8 > .slider-radio-background > .slider-radio-circle {
    background: hsl(252 91.1% 48.4%);
}

#slider-radio0:active ~ .slider-bottom > .slider-controls > #slider-label0 > .slider-radio-background > .slider-radio-circle,
#slider-radio1:active ~ .slider-bottom > .slider-controls > #slider-label1 > .slider-radio-background > .slider-radio-circle,
#slider-radio2:active ~ .slider-bottom > .slider-controls > #slider-label2 > .slider-radio-background > .slider-radio-circle,
#slider-radio3:active ~ .slider-bottom > .slider-controls > #slider-label3 > .slider-radio-background > .slider-radio-circle,
#slider-radio4:active ~ .slider-bottom > .slider-controls > #slider-label4 > .slider-radio-background > .slider-radio-circle,
#slider-radio5:active ~ .slider-bottom > .slider-controls > #slider-label5 > .slider-radio-background > .slider-radio-circle,
#slider-radio6:active ~ .slider-bottom > .slider-controls > #slider-label6 > .slider-radio-background > .slider-radio-circle,
#slider-radio7:active ~ .slider-bottom > .slider-controls > #slider-label7 > .slider-radio-background > .slider-radio-circle,
#slider-radio8:active ~ .slider-bottom > .slider-controls > #slider-label8 > .slider-radio-background > .slider-radio-circle {
    background: linear-gradient(315deg, hsl(298 97.4% 45.3%), hsl(252 91.1% 48.4%));
}

.slider-text {
    background: linear-gradient(315deg, hsl(298 97.4% 45.3%), hsl(252 91.1% 48.4%));
    padding: 1vw;
    border-radius: 1vw;
    flex: 0 0 69.5vw;
    height: 7.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    @media (max-width: 720px) {
        flex: 0 0 77vw;
        height: 27vw;
    }
}

.slider-text-container {
    border-radius: 1vw;
    overflow: hidden;
    width: 67.5vw;
    height: 5.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    @media (max-width: 720px) {
        width: 75vw;
        height: 25vw;
    }
    
}

.slider-paragraph {
    flex: 0 0 0vw;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;   
    background-color: hsl(0 0% 17% / 0.9);
    font-family: 'Rubik Mono One';
    letter-spacing: 10%;
    font-size: 0.75rem;
    line-height: 1rem;
    color: hsl(0 0% 100% / 0);
    transition: all 2s linear 0s;
    @media (max-width: 720px) {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
}

#slider-radio0:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph0,
#slider-radio1:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph1,
#slider-radio2:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph2,
#slider-radio3:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph3,
#slider-radio4:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph4,
#slider-radio5:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph5,
#slider-radio6:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph6,
#slider-radio7:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph7,
#slider-radio8:checked ~ .slider-bottom > .slider-text > .slider-text-container > #slider-paragraph8  {
    color: hsl(0 0% 100% / 1);
    padding: 1vw;
    flex: 0 0 5.5vw;
    overflow: auto;
    @media (max-width: 720px) {
        flex: 0 0 25vw;
    }
}


.footer-text {
    font-family: 'Smooch Sans';
    font-weight: 100;
    color: hsl(0 0% 100% / 0.85);
    font-size: 0.6rem;
    letter-spacing: 0.9rem;
    padding: 1vw;
    @media (max-width: 720px) {
        letter-spacing: 0.2rem;
    }
}